{% extends "base.html" %}
{% block title %}Search{% endblock %}
{% block content %}
<body>
<style>
    h1 {text-align: center; padding: 10px; text-colour: #123456;}
    form {padding: 5px; text-align: center;}
    div { color: green; }
</style>
    <h1>Search for your favourite Artists:</h1>
    <form action = "/search" method = "post">
    <label>Game Name:</label>
    <input type="text" name="game" required>
        <button type="submit" >Submit</button>
    </form>
{% for category, message in get_flashed_messages(with_categories=true) %}
        <div class="w3-panel w3-{{ category }} w3-display-container">
            <span onclick="this.parentElement.style.display='none'"
                  class="w3-button w3-{{ category }} w3-large w3-display-topright">&times;</span>
            {{ message }}
        </div>
    {% endfor %}
</body>
{% endblock %}
```